:root{
  --primary-color: bisque;
  --secondry-color: brow;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
section{
  height: 100vh;
  width: 100vw;
}
.landingpg{
  background-color: var(--primary-color) ;
  background-image: url(./assets/banner-img1.jpg);
  background-repeat: none;
  background-size: cover;
}
.company-title{
  z-index: 2;
  text-align: center;
  font-size: 6rem;
  top: 40%;
  left: 30%;
  margin: 0;
  position: absolute;

}